

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-biaoqing:before {
  content: "\e690";
}

.icon-shuaxin:before {
  content: "\e661";
}

.icon-zhuanfa:before {
  content: "\e61a";
}

.icon-kongjian:before {
  content: "\e73b";
}

.icon-picture:before {
  content: "\e6e9";
}

.icon-weibo1:before {
  content: "\e619";
}

.icon-weixin:before {
  content: "\e61b";
}

